<div>
  <p-tabView>
    <p-tabPanel header="EXTERNAL TEACHERS">
      <div>
        <div>
          <p-dropdown [options]="tipo" [(ngModel)]="filtroSelezionato" placeholder="" optionLabel="name" [showClear]="true">
          </p-dropdown>
       
        </div>
       
        <div class="pull-right mb-2">
          <button class="btn btn-success " (click)="new()">
            <i class="fa fa-plus"></i>
          </button>
       
        
          <button class="btn btn-warning" (click)="removeFilter()">
            <i class="fa fa-times"></i>
          </button>
        </div>
       
       
       
       
      
        

        <form [formGroup]="formGroup" style="display: flex;">
          <div class="input-group mt-1 mb-1" style="width: 20%;">
            <input type="text" formControlName="soggFiltrato" style="border: 1px solid #cacaca;">
            <div class="input-group-append">
              <button (click)="filtra()"class="btn btn-dark" type="button" id="button-addon2" >
              <i class="fa fa-filter"></i>
              </button>
            </div>
            <button (click)="filtraAvanzato()" class="btn btn-light ">
              <i class="fa fa-gear"></i>
            </button>
        
<!--             <div class="input-group-append">
              <button
                (click)="filtra()"
                class="btn btn-dark"
                type="button"
                id="button-addon2"
              >
                <i class="fa fa-filter"></i>
              </button>
            </div> -->
          </div>
        </form>

        <table class="table table-striped mt-3">
          <thead class="thead-dark">
            <th scope="col">Title</th>
            <th scope="col">Business name</th>
            <th scope="col">Province</th>
            <th scope="col">Actions</th>
          </thead>
          <tr *ngFor="let valore of lista">
            <td>{{ valore.titolo }}</td>
            <td>{{ valore.ragioneSociale }}</td>
            <td>{{ valore.provincia }}</td>
            <td>
              <button
                class="btn btn-info mr-2"
                type="button"
                (click)="show(valore)"
              >
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </button>

              <button
                class="btn btn-danger mr-2"
                (click)="confirm1(valore.docenteId)"
                type="button"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
                <p-confirmDialog
                  [style]="{ width: '50vw' }"
                  [baseZIndex]="10"
                  header="Conferma"
                  key="conferma"
                  closable="true"
                  [transitionOptions]="'0ms'"
                ></p-confirmDialog>
              </button>

              <button
                class="btn btn-info mr-2"
                (click)="edit(valore.docenteId)"
              >
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </table>
        <button type="button" class="btn btn-primary" (click)="dietro()">
          <i class="pi pi-backward"></i>
        </button>
        <font class="ml-2 mr-2" style="font-weight: bold;">{{ pagina }}</font>
        <button type="button" class="btn btn-primary" (click)="avanti()">
          <i class="pi pi-forward"></i>
        </button>

        <p-sidebar
          [(visible)]="visibleSidebar5"
          position="right"
          [baseZIndex]="100000"
          [fullScreen]="true"
          [style]="{ 'overflow-y': 'scroll' }"
        >
          <div>
            <div class="text-center">
              <h2>Teachers details</h2>
            </div>

            <div class="row justify-content-center">
              <table
                class="table table-striped mt-3 table-hover"
                style="width: 50%;"
              >
                <tbody>
                  <tr>
                    <td>Title:</td>
                    <td>{{ utCorr?.titolo }}</td>
                  </tr>
                  <tr>
                    <td>Business:</td>
                    <td>{{ utCorr?.ragioneSociale }}</td>
                  </tr>
                  <tr>
                    <td>Address:</td>
                    <td>{{ utCorr?.value?.element?.indirizzo }}</td>
                  </tr>
                  <tr>
                    <td>Place:</td>
                    <td>{{ utCorr?.value?.element?.localita }}</td>
                  </tr>
                  <tr>
                    <td>Province:</td>
                    <td>{{ utCorr?.provincia }}</td>
                  </tr>
                  <tr>
                    <td>Nation:</td>
                    <td>{{ utCorr?.value?.element?.nazione }}</td>
                  </tr>
                  <tr>
                    <td>Phone:</td>
                    <td>{{ utCorr?.value?.element?.telefono }}</td>
                  </tr>
                  <tr>
                    <td>Fax:</td>
                    <td>{{ utCorr?.value?.element?.fax }}</td>
                  </tr>
                  <tr>
                    <td>Partita Iva :</td>
                    <td>{{ utCorr?.value?.element?.partitaIva }}</td>
                  </tr>
                  <tr>
                    <td>Referent:</td>
                    <td>{{ utCorr?.value?.element?.referente }}</td>
                  </tr>
                  <tr></tr>
                </tbody>
              </table>
            </div>

            <div class="row justify-content-center">
              <table class="table table-light mt-3" style="width: 50%;">
                <thead class="bg-info">
                  <th scope="col">description course</th>
                  <th scope="col">tipology</th>
                  <th scope="col">type</th>
                </thead>
                <tr *ngFor="let valore of listaAllCourses">
                  <!--  <td>{{ valore.docenteId }}</td> -->
                  <td>{{ valore?.descrizione }}</td>
                  <td>{{ valore?.tipologia?.descrizione }}</td>
                  <td>{{ valore?.tipo?.descrizione }}</td>
                </tr>
              </table>
            </div>
          </div>
        </p-sidebar>

        <div class="container-mt-3">
          <p-messages [value]="msgs" [style]="{ width: '100%' }"></p-messages>
        </div>

        <p-sidebar
          [(visible)]="visibleSidebartop"
          position="top"
          [baseZIndex]="100000"
          [fullScreen]="true"
          [style]="{ 'overflow-y': 'scroll' }"
        >
          <div class="row justify-content-center">
            <h2>Advanced Filter</h2>
          </div>

          <div class="advanced-form">
            <form [formGroup]="formGroup2">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="docenteId"
                  required
                  placeholder="docenteId"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="titolo"
                  required
                  placeholder="titolo"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="ragioneSociale"
                  required
                  placeholder="ragioneSociale"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="indirizzo"
                  required
                  placeholder="indirizzo"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="localita"
                  required
                  placeholder="localita"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="provincia"
                  required
                  placeholder="provincia"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="nazione"
                  required
                  placeholder="nazione"
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="telefono"
                  required
                  placeholder="telefono"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="fax"
                  required
                  placeholder="fax"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="partitaIva"
                  required
                  placeholder="partitaIva"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="referente"
                  required
                  placeholder="referente"
                />
              </div>
              <div class="form-group">
                <button
                  (click)="filtraA()"
                  class="btn btn-info btn-lg btn-block"
                >
                  filter
                </button>
              </div>
            </form>
          </div>
        </p-sidebar>
      </div>
    </p-tabPanel>
    <p-tabPanel header="INTERNAL TEACHERS">
      <div>
        <p-dropdown
          [options]="tipo2Int"
          [(ngModel)]="filtroSelezionatoInt"
          placeholder=""
          optionLabel="name"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="pull-right mb-2">
        <button class="btn btn-warning" (click)="removeFilterInt()">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <form [formGroup]="formGroupInt" style="display: flex;">
        <div class="input-group mb-1 mt-1" style="width: 16%;">
          <input
            type="text"
            class="form-control"
            formControlName="soggFiltrato"
            style="border: 1px solid #cacaca;"
          />
          <div class="input-group-append">
            <button
              (click)="filtraInt()"
              class="btn btn-dark"
              type="button"
              id="button-addon2"
            >
              <i class="fa fa-filter"></i>
            </button>
          </div>
        </div>
      </form>

      <table class="table table-striped mt-3">
        <thead class="thead-dark">
          <th scope="col">first name</th>
          <th scope="col">surname</th>
          <th scope="col">freshman</th>
          <th scope="col">society</th>
          <th scope="col"></th>
        </thead>
        <tr *ngFor="let valore of listaDocentiInterni2" style="width: 100%;">
          <td>{{ valore.nome }}</td>
          <td>{{ valore.cognome }}</td>
          <td>{{ valore.matricola }}</td>
          <td>{{ valore.societa?.ragioneSociale }}</td>
          <td>
            <button
              class="btn btn-info mr-2"
              type="button"
              (click)="showInterno(valore)"
            >
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </table>

      <p-sidebar
        [(visible)]="visibleSidebarInterno"
        position="right"
        [baseZIndex]="100000"
        [fullScreen]="true"
        [style]="{ 'overflow-y': 'scroll' }"
      >
        <div class="text-center">
          <h2>teacher details</h2>
        </div>
        <div class="row justify-content-center">
          <table
            class="table table-striped mt-3 table-hover"
            style="width: 50%;"
          >
            <tbody>
              <tr>
                <td>Id:</td>
                <td>{{ utCorr?.dipendenteId }}</td>
              </tr>
              <tr>
                <td>freshman:</td>
                <td>{{ utCorr?.matricola }}</td>
              </tr>
              <tr>
                <td>society:</td>
                <td>{{ utCorr?.societa?.ragioneSociale }}</td>
              </tr>
              <tr>
                <td>surname:</td>
                <td>{{ utCorr?.cognome }}</td>
              </tr>
              <tr>
                <td>first name:</td>
                <td>{{ utCorr?.nome }}</td>
              </tr>
              <tr>
                <td>gender:</td>
                <td>{{ utCorr?.sesso }}</td>
              </tr>
              <tr>
                <td>date of birth:</td>
                <td>{{ utCorr?.dataNascita }}</td>
              </tr>
              <tr>
                <td>birth place:</td>
                <td>{{ utCorr?.luogoDiNascita }}</td>
              </tr>
              <tr>
                <td>marital status:</td>
                <td>{{ utCorr?.statoCivile }}</td>
              </tr>
              <tr>
                <td>educational qualification:</td>
                <td>{{ utCorr?.titoloStudio }}</td>
              </tr>
              <tr>
                <td>achieved at:</td>
                <td>{{ utCorr?.conseguitoPresso }}</td>
              </tr>
              <tr>
                <td>Year Graduated:</td>
                <td>{{ utCorr?.annoConseguimento }}</td>
              </tr>
              <tr>
                <td>Employee type:</td>
                <td>{{ utCorr?.tipoDipendente }}</td>
              </tr>
              <tr>
                <td>qualification:</td>
                <td>{{ utCorr?.qualifica }}</td>
              </tr>
              <tr>
                <td>level:</td>
                <td>{{ utCorr?.livello }}</td>
              </tr>
              <tr>
                <td>assumption date:</td>
                <td>{{ utCorr?.dataAssunzione }}</td>
              </tr>
              <tr>
                <td>area manager:</td>
                <td>{{ utCorr?.responsabileArea }}</td>
              </tr>
              <tr>
                <td>Resource manager:</td>
                <td>{{ utCorr?.responsabileRisorsa }}</td>
              </tr>
              <tr>
                <td>End of relationship date:</td>
                <td>{{ utCorr?.dataFineRapporto }}</td>
              </tr>
              <tr>
                <td>Contract Expiration date:</td>
                <td>{{ utCorr?.dataScadenzaContratto }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row justify-content-center">
          <table class="table table-light mt-3" style="width: 50%;">
            <thead class="bg-info">
              <th scope="col">description course</th>
              <th scope="col">tipology</th>
              <th scope="col">type</th>
            </thead>
            <tr *ngFor="let valore of listaAllCourses">
              <!--  <td>{{ valore.docenteId }}</td> -->
              <td>{{ valore?.descrizione }}</td>
              <td>{{ valore?.tipologia?.descrizione }}</td>
              <td>{{ valore?.tipo?.descrizione }}</td>
            </tr>
          </table>
        </div>
      </p-sidebar>
    </p-tabPanel>
  </p-tabView>
</div>
