 <div>
   <p-dropdown [options]="tipo" [(ngModel)]="filtroSelezionato" placeholder="" optionLabel="name" [showClear]="true">
   </p-dropdown>

 </div>

 <div class="pull-right mb-2">
   <button class="btn btn-success " (click)="new()">
     <i class="fa fa-plus"></i>
   </button>

 
   <button class="btn btn-warning" (click)="removeFilter()">
     <i class="fa fa-times"></i>
   </button>
 </div>




 <form [formGroup]="formGroup" style="display: flex;">
 <!--   <div class="mt-1">
     <input type="text" formControlName="soggFiltrato" required size="24" style="display: inline-block; height: 30px;" />
   </div>


   <button (click)="filtra()" class="btn btn-dark" style="display: inline-flex; margin-left: 10px;">
     <i class="fa fa-filter"></i>
   </button> -->

   <div class="input-group mt-1 mb-1" style="width: 20%;">
      <input type="text" formControlName="soggFiltrato" style="border: 1px solid #cacaca;">
      <div class="input-group-append">
        <button (click)="filtra()"class="btn btn-dark" type="button" id="button-addon2" >
        <i class="fa fa-filter"></i>
        </button>
      </div>
      <button (click)="filtraAvanzato()" class="btn btn-light ">
        <i class="fa fa-gear"></i>
      </button>
  
      
    </div>

  
   


 </form>


 <table class="table table-striped mt-3">
   <!--  <th scope="col" *ngFor="let option of options.colsOptions">{{option.label}}</th> -->
   <!--   <th scope="col">id</th> -->
   <thead class="thead-dark">
     <th scope="col">Type</th>
     <th scope="col">Typology</th>
     <th scope="col">Description</th>
     <th scope="col">Actions</th>
   </thead>
   <tr *ngFor="let valore of lista">
     <!--  <td>{{ valore.docenteId }}</td> -->
     <td>{{ valore.tipo }}</td>
     <td>{{ valore.tipologia }}</td>
     <td>{{ valore.descrizione }}</td>
     <td>
       <button class="btn btn-info mr-2" type="button" (click)="show(valore)">
         <i class="fa fa-info-circle" aria-hidden="true"></i>
       </button>

       <button class="btn btn-danger mr-2" (click)="confirm1(valore.corsoId)" type="button">
         <i class="fa fa-trash" aria-hidden="true"></i>
         <p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10" header="Conferma" key="conferma" closable="true"
           [transitionOptions]="'0ms'"></p-confirmDialog>
       </button>

       <button class="btn btn-info mr-2" (click)="edit(valore.corsoId)">
         <i class="fa fa-edit" aria-hidden="true"></i>
       </button>
       <button class="btn btn-warning " (click)="valutazioni(valore.corsoId)">
         <i class="pi pi-star"></i>
       </button>

       <!-- <button type="button" (click)="showMaximizableDialog()" pButton icon="pi pi-external-link" label="Info"></button>
      <p-dialog header="Info Corso" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}"
        [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <p>Tabela</p>
        <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="displayMaximizable=false" label="Yes"></button>
          <button type="button" pButton icon="pi pi-times" (click)="displayMaximizable=false" label="No"
            class="ui-button-secondary"></button>
        </p-footer>
      </p-dialog> -->
     </td>
   </tr>
 </table>
 <button type="button" class="btn btn-primary" (click)="dietro()">
   <i class="pi pi-backward"></i>
 </button>
 <font class="ml-2 mr-2" style="font-weight: bold;">{{ pagina }}</font>
 <button type="button" class="btn btn-primary" (click)="avanti()">
   <i class="pi pi-forward"></i>
 </button>

 <p-sidebar [(visible)]="visibleSidebar5" position="right" [baseZIndex]="100000" [fullScreen]="true"
   [style]="{'overflow-y': 'scroll'}">
   <div>
     <br>
     <div class="text-center">
       <h2>Courses Details</h2>
     </div>
     <div class="row justify-content-center">
       <table class="table table-striped mt-3 table-hover" style="width: 50%; ">
         <tbody>
           <tr>
             <td>Tipe:</td>
             <td>{{ utCorr?.tipo }}</td>
           </tr>
           <tr>
             <td>Typology:</td>
             <td>{{ utCorr?.tipologia }}</td>
           </tr>
           <tr>
             <td>Description:</td>
             <td>{{ utCorr?.descrizione }}</td>
           </tr>
           <tr>
             <td>Edition:</td>
             <td>{{ utCorr?.value.element.edizione }}</td>
           </tr>
           <tr>
             <td>Expected:</td>
             <td>{{ utCorr?.value.element.previsto }}</td>
           </tr>
           <tr>
             <td>Erogation:</td>
             <td>{{ utCorr?.value.element.erogato }}</td>
           </tr>
           <tr>
             <td>Duration:</td>
             <td>{{ utCorr?.value.element.durata }}</td>
           </tr>
           <tr>
             <td>Measure:</td>
             <td>{{ utCorr?.value.element.misura.descrizione }}</td>
           </tr>
           <tr>
             <td>Note:</td>
             <td>{{ utCorr?.value.element.note }}</td>
           </tr>
           <tr>
             <td>Place:</td>
             <td>{{ utCorr?.value.element.luogo }}</td>
           </tr>
           <tr>
             <td>Entity:</td>
             <td>{{ utCorr?.value.element.ente }}</td>
           </tr>
           <tr>
             <td>Delivery date:</td>
             <td>{{ dataErogazione }}</td>
           </tr>
           <tr>
             <td>Closing date:</td>
             <td>{{ dataChiusura }}</td>
           </tr>
           <tr>
             <td>Census date:</td>
             <td>{{ dataCensimento }}</td>
           </tr>
           <tr>
             <td>Internal:</td>
             <td>{{ utCorr?.value.element.interno }}</td>
           </tr>
         </tbody>
       </table>
     </div>

     <div class="row justify-content-center">
       <table class="table table-striped mt-3 table-hover" style="width: 50%; ">
         <thead class="bg-primary">
           <th scope="col">Name</th>
           <th scope="col">Surname</th>
           <th scope="col">Registration number</th>
         </thead>
         <tr *ngFor="let valore of listaAllCourses">
           <!--  <td>{{ valore.docenteId }}</td> -->
           <td>{{ valore?.nome }}</td>
           <td>{{ valore?.cognome }}</td>
           <td>{{ valore?.matricola }}</td>
         </tr>
       </table>
     </div>
     <div class="row justify-content-center">
       <table class="table table-striped mt-3 table-hover" style="width: 50%; ">
         <!--  <th scope="col" *ngFor="let option of options.colsOptions">{{option.label}}</th> -->
         <!--   <th scope="col">id</th> -->
         <thead class="bg-primary">
           <th scope="col">First name</th>
           <th scope="col">Second name</th>
           <th scope="col">Id</th>
         </thead>
         <tr>
           <!--  <td>{{ valore.docenteId }}</td> -->
           <td>{{ varDaMandare?.nome }}</td>
           <td>{{ varDaMandare?.cognome}}</td>
           <td>{{ varDaMandare?.id }}</td>
         </tr>
       </table>
     </div>

   </div>
 </p-sidebar>

 <div class="container-mt-3">
   <p-messages [value]="msgs" [style]="{ width: '100%' }"></p-messages>



 </div>

 <div class="container-mt-3">
   <p-messages [value]="msgs" [style]="{ width: '100%' }"></p-messages>
 </div>

 <p-sidebar [(visible)]="visibleSidebartop" position="top" [baseZIndex]="100000" [fullScreen]="true"
   [style]="{'overflow-y': 'scroll'}">
   <div class="row justify-content-center">
     <h2>Advanced Filter</h2>
   </div>

   <div class="advanced-form">
     <form [formGroup]="formGroup2">
       <div class="form-group">
         <input type="text" class="form-control" formControlName="corsoId" required placeholder="Course Id" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="descrizione" required placeholder="Description" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="edizione" c required placeholder="Edition" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="previsto" required placeholder="Expected" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="erogato" required placeholder="Provided" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="durata" required placeholder="Duration" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="note" required placeholder="Notes" />
       </div>

       <div class="form-group">
         <input type="text" class="form-control" formControlName="luogo" required placeholder="Places" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="ente" required placeholder="Entity" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="dataErogazione" required
           placeholder="Delivery date" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="dataChiusura" required placeholder="Closing date" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="dataCensimento" required
           placeholder="Census date" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="interno" required placeholder="Internal" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="tipoId" required placeholder="Type Id" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="tipologiaId" required placeholder="Typology id" />
       </div>
       <div class="form-group">
         <input type="text" class="form-control" formControlName="misuraId" required placeholder="Measure id" />
       </div>
       <div class="form-group">
         <button (click)="filtraA()" class="btn btn-info btn-lg btn-block">Filter</button>
       </div>
     </form>
   </div>
 </p-sidebar>
