<!--    <form [formGroup]="formGroup" class="mb-3">
    <h2>Nuovo docente</h2>
    <div class="form-group ui-g-12 ui-md-6">
        <label for="nome">Titolo</label>
        <input type="text" class="form-control" formControlName="titolo" required>
    </div>

        
    <div class="form-group ui-g-12 ui-md-6">
        <label for="nome">Ragione Sociale</label>
        <input type="text" class="form-control" formControlName="ragioneSociale" required>
    </div>
    <div class="form-group ui-g-12 ui-md-6">
        <label for="nome">Indirizzo</label>
        <input type="text" class="form-control" formControlName="indirizzo" required>
    </div>
    <div class="form-group ui-g-12 ui-md-6">
        <label for="nome">Località</label>
        <input type="text" class="form-control" formControlName="localita" required>
    </div>
    <div class="form-group ui-g-12 ui-md-6">
        <label for="nome">Provincia</label>
        <input type="text" class="form-control" formControlName="provincia" required>
    </div>
    <div class="form-group ui-g-12 ui-md-6">
        <label for="nome">Nazione</label>
        <input type="text" class="form-control" formControlName="nazione" required>
    </div>
    <div class="form-group ui-g-12 ui-md-6">
        <label for="nome">Telefono</label>
        <input type="text" class="form-control" formControlName="telefono" required>
    </div>
    <div class="form-group ui-g-12 ui-md-6">
        <label for="nome">Fax</label>
        <input type="text" class="form-control" formControlName="fax" required>
    </div>
    <div class="form-group ui-g-12 ui-md-6">
        <label for="nome">Partita Iva</label>
        <input type="text" class="form-control" formControlName="partitaIva" required>
    </div>
    <div class="form-group ui-g-12 ui-md-6">
        <label for="nome">Referente</label>
        <input type="text" class="form-control" formControlName="referente" required>
    </div>
    <div>
        <button class="btn btn-success" (click)="conferma()" type="button"><i class="fa fa-check mr-2"
                aria-hidden="true"></i>Conferma
        </button>
    </div>
</form>   
form vecchio se per caso non piace
-->


<div class="signup-form">
  <form [formGroup]="formGroup">
    <h2>Add Teacher</h2>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="titolo" required placeholder="Title">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="ragioneSociale" required placeholder="Business name">
    </div>
    <div class="form-group ">
      <input type="text" class="form-control" formControlName="indirizzo" required placeholder="Address">
    </div>
    <div class="form-group ">
      <input type="text" class="form-control" formControlName="provincia" required placeholder="Province">
    </div>
    <div class="form-group ">
      <input type="text" class="form-control" formControlName="localita" required placeholder="Place">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="nazione" required placeholder="Nation">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="telefono" required placeholder="Phone">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="fax" required placeholder="Fax">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="partitaIva" required placeholder="Iva">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="referente" required placeholder="Referent">
    </div>


            <div class="form-group">
                <button type="submit" class="btn btn-info btn-lg btn-block" (click)="conferma()">Confirm</button>
            </div>
        </form>
  
    </div>