<div class="row" style="display:flex; margin-left: 18%; width: 130%;">
    <div class="col-sm-6">
        <div class="card" style="width: 100%;">
            <form [formGroup]="formGroupDocenti" class="text-center border border-light p-5" action="#!">

                <p class="h2 mb-4">
                    <font size="6">Add Students</font>
                </p>

                <p class="h2 mb-4" style="text-align: left;">
                    <font size="5">Add Teacher</font>
                </p>

                <div class="form-group ui-g-12 ui-md-6">
                    <label for="nome" style="display: block; text-align: center;">
                        <font size="3">{{scritta}}</font>
                    </label>
                    <p-inputSwitch [(ngModel)]="internoControl" formControlName="interno" required
                        (onChange)="getDocenti()">
                    </p-inputSwitch>
                </div>

                <div class="form-group ui-g-12 ui-md-6">
                    <label for="nome">
                        <font size="3">Teacher</font>
                    </label><br>
                    <p-dropdown *ngIf=(listaDipendenti) [options]="descrizioneDipendente" optionLabel="label"
                        formControlName="docente" (onChange)="togliDocente()"></p-dropdown>
                    <p-dropdown *ngIf=(listaDocenti) [options]="descrizioneDocente" optionLabel="label"
                        formControlName="docente" (onChange)="togliDocente()"></p-dropdown>
                </div>
            </form>


            <form [formGroup]="formGroupDipendenti" class="border border-light p-5" action="#!">
                <p class="h2 mb-4" style="text-align: left;">
                    <font size="5">Add Students</font>
                </p>

                <div class="col-6 ui-g-12 ui-md-6">
                    <div class="form-group">
                        <p-listbox *ngIf=(listaDipendenti1) [options]="descrizioneDipendente1" [multiple]="true"
                            [checkbox]="true" [filter]="true" optionLabel="label" [style]="{width: '90%'}"
                            [listStyle]="{ 'max-height': '210px' }" formControlName="dipendente">
                            <p-header style="text-align: center;">
                                Employees
                            </p-header>
                        </p-listbox>
                    </div>
                </div>
                <div class="form-group ui-g-12 ui-md-6">
                    <label for="nome">
                        <font size="3">Duration</font>
                    </label><br>
                    <p-spinner [(ngModel)]="durataN" size="30" formControlName="durata"></p-spinner>
                </div>
            </form>
            <div><br>
                <button class="btn btn-info btn-block" (click)="conferma()" type="button" style="width: 25%; margin-left: 37.5%;">
                    <i class="fa fa-check mr-2"
                    aria-hidden="true"></i>Confirm
                </button><br></div>
        </div>
    </div>
</div>