<div class="row" style="display:flex; margin-left: 17%; margin-right: 17%; width: 140%;">
    <div class="col-sm-6">
        <p-tabView>
            <p-tabPanel header="Edit Course">
                <div class="card" style="width: 100%;">

                    <form [formGroup]="formGroup" class="text-center border border-light p-5" action="#!">

                        <p class="h2 mb-4">
                            <font size="6">Edit Course</font>
                        </p>

                        <div class="form-group ui-g-12 ui-md-12">
                            <label for="nome">
                                <font size="3">Description*</font>
                            </label>
                            <input type="text" class="form-control" placeholder="Description*"
                                formControlName="descrizione" required>
                        </div>

                        <div class="form-group ui-g-12 ui-md-6">
                            <label for="nome">
                                <font size="3">Type*</font>
                            </label><br>
                            <p-dropdown *ngIf=(listaTipi) [options]="descrizioneTipo" optionLabel="label"
                                formControlName="tipo" [style]="{'width':'100%'}" (onChange)="cambiaTipo()">
                            </p-dropdown>
                        </div>
                        <div class="form-group ui-g-12 ui-md-6">
                            <label for="nome">
                                <font size="3">Typology*</font>
                            </label><br>
                            <p-dropdown *ngIf=(listaTipologie) [options]="descrizioneTipologia" optionLabel="label"
                                formControlName="tipologia" [style]="{'width':'100%'}" (onChange)="cambiaTipologia()">
                            </p-dropdown>
                        </div>

                        <div class="form-group ui-g-12 ui-md-6">
                            <label for="nome" style="display: block; text-align: center;">
                                <font size="3">{{scritta2}}*</font>
                            </label>
                            <p-inputSwitch [(ngModel)]="erogatoControl" formControlName="erogato" required
                                (onChange)="metodoErogato()">
                            </p-inputSwitch>
                        </div>


                        <div class="form-group ui-g-12 ui-md-2">
                            <label for="nome">
                                <font size="3">Duration*</font>
                            </label>
                            <input type="text" class="form-control" placeholder="Duration*" formControlName="durata"
                                required style="width: 130%;">
                        </div>
                        <div class="form-group ui-g-12 ui-md-4">
                            <label for="nome">
                                <font size="3">Measure*</font>
                            </label><br>
                            <p-dropdown *ngIf=(listaMisure) [options]="descrizioneMis" optionLabel="label"
                                formControlName="misura" (onChange)="cambiaMisura()"></p-dropdown>
                        </div>
                        <div class="form-group ui-g-12 ui-md-6">
                            <label for="nome">
                                <font size="3">Edition*</font>
                            </label>
                            <input type="text" class="form-control" placeholder="Edition*" formControlName="edizione"
                                required>
                        </div>
                        <div class="form-group ui-g-12 ui-md-6">
                            <label for="nome">
                                <font size="3">Place</font>
                            </label>
                            <input type="text" class="form-control" placeholder="Place" formControlName="luogo"
                                required>
                        </div>
                        <!-- <div class="form-group ui-g-12 ui-md-6" style="margin-top: -100%;">
                            //serve
                        </div> -->


                        <div class="form-group ui-g-12 ui-md-6">
                            <label for="nome" style="display: block; text-align: center;">
                                <font size="3">{{scritta1}}</font>
                            </label>
                            <p-inputSwitch [(ngModel)]="internoControl1" formControlName="interno" required
                                (onChange)="metodoInterno()">
                            </p-inputSwitch>
                        </div>
                        <div class="form-group ui-g-12 ui-md-6">
                            <label for="nome">
                                <font size="3">Entity</font>
                            </label>
                            <input type="text" class="form-control" placeholder="Entity" formControlName="ente" required>
                        </div>
                        <div class="form-group ui-g-12 ui-md-4">
                            <label for="nome">
                                <font size="3">Delivery date</font>
                            </label><br>
                            <p-calendar [(ngModel)]="dataEr" [ngModelOptions]="{standalone: true}" required
                                dateFormat="dd/mm/yy" showButtonBar="true" placeholder="Select Date"
                                [showIcon]="true"></p-calendar>
                        </div>
                        <div class="form-group ui-g-12 ui-md-4">
                            <label for="nome">
                                <font size="3">Closing date</font>
                            </label><br>
                            <p-calendar [(ngModel)]="dataChiu" [ngModelOptions]="{standalone: true}" required
                                dateFormat="dd/mm/yy" showButtonBar="true" placeholder="Select Date"
                                [showIcon]="true"></p-calendar>
                        </div>
                        <div class="form-group ui-g-12 ui-md-4">
                            <label for="nome">
                                <font size="3">Census date</font>
                            </label><br>
                            <p-calendar [(ngModel)]="dataCens" [ngModelOptions]="{standalone: true}" required
                                dateFormat="dd/mm/yy" showButtonBar="true" placeholder="Select Date"
                                [showIcon]="true"></p-calendar>
                        </div>
                        <div class="form-group ui-g-12 ui-md-12" style="width: 100%;">
                            <label for="nome">
                                <font size="3">Notes</font>
                            </label>
                            <textarea rows="5" cols="30" pInputTextarea class="form-control"
                                placeholder="Add notes..." formControlName="note" required></textarea>
                        </div>
                    </form>
                    <!-- Default form contact -->

                    <div><br>
                        <button class="btn btn-info btn-block" (click)="conferma()" type="button"
                            style="width: 25%; margin-left: 37.5%;">
                            <i class="fa fa-check mr-2" aria-hidden="true"></i>Confirm
                        </button><br></div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Edit Employees">
                <div class="card" style="width: 100%;">
                    <form [formGroup]="formGroupDocenti" class="text-center border border-light p-5" action="#!">

                        <p class="h2 mb-4">
                            <font size="6">Edit Employees</font>
                        </p>

                        <p class="h2 mb-4" style="text-align: left;">
                            <font size="5">Edit Teacher</font>
                        </p>

                        <div class="form-group ui-g-12 ui-md-6">
                            <label for="nome" style="display: block; text-align: center;">
                                <font size="3">{{scritta}}</font>
                            </label>
                            <p-inputSwitch [(ngModel)]="internoControl" formControlName="interno" required
                                (onChange)="getDocenti()">
                            </p-inputSwitch>
                        </div>

                        <div class="form-group ui-g-12 ui-md-6">
                            <label for="nome">
                                <font size="3">Teacher</font>
                            </label><br>
                            <p-dropdown *ngIf=(listaDipendenti) [options]="descrizioneDipendente" optionLabel="label"
                                formControlName="docente" (onChange)="contatore()"></p-dropdown>
                            <p-dropdown *ngIf=(listaDocenti) [options]="descrizioneDocente" optionLabel="label"
                                formControlName="docente" (onChange)="contatore()"></p-dropdown>
                        </div>
                    </form>


                    <form [formGroup]="formGroupDipendenti" class="border border-light p-5" action="#!">
                        <p class="h2 mb-4" style="text-align: left;">
                            <font size="5">Edit Employees</font>
                        </p>
                    </form>

                    <p-table #dt [value]="alunniCorso" dataKey="id" styleClass="ui-table-customers" [rowHover]="true"
                        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10]" [paginator]="true"
                        [filterDelay]="100">
                        <ng-template pTemplate="caption">
                            Employees
                            <button type="button" (click)="showMaximizableDialog()" pButton icon="pi pi-external-link"
                                label="Add Employees" style="position: relative;
                            left: 32.5rem;"></button>
                            <p-dialog header="Add employees to the course" [(visible)]="displayMaximizable" [modal]="true"
                                [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false"
                                [resizable]="false" style="align-items: right;">
                                <p-table #dt [value]="listaDipendenti1" dataKey="id" styleClass="ui-table-customers"
                                    [rowHover]="true" [rows]="5" [showCurrentPageReport]="true"
                                    [rowsPerPageOptions]="[5, 10]" [paginator]="true" [filterDelay]="100">
                                    <ng-template pTemplate="caption">
                                        Employees
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>

                                            </th>
                                            <th *ngFor="let item of options.colsOptions; let i = index"
                                                pSortableColumn="{{ item.name }}">
                                                {{ item.label
        }}<p-sortIcon field="{{ item.name }}" *ngIf="i != options.colsOptions.length - 1"></p-sortIcon>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                            </th>
                                            <th *ngFor="let item of options.colsOptions; let i = index">
                                                <input pInputText type="text" placeholder="Filter For {{ item.label }}"
                                                    class="ui-column-filter" *ngIf="
            i != options.colsOptions.length - 1 &&
            options.colsOptions[options.colsOptions.length - 1].name ==
              'operazioni'
          " (input)="dt.filter($event.target.value, item.name, 'contains')" />
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-listaDipendenti1>
                                        <tr class="ui-selectable-row">
                                            <td>
                                                <p-tableCheckbox [value]="listaDipendenti1"></p-tableCheckbox>
                                            </td>
                                            <td *ngFor="let item of options.colsOptions; let i = index">
                                                <span class="ui-column-title">{{ item.label }}</span>
                                                {{ listaDipendenti1[item.name] }}

                                                <span *ngIf="
            i == options.colsOptions.length - 1 &&
            options.colsOptions[options.colsOptions.length - 1].name ==
              'operazioni'
          ">
                                                    <button class="btn btn-success">
                                                        <i class="icon-plus" aria-hidden="true"
                                                            (click)="selezionaAlunno(listaDipendenti1.dipendenteId)"></i>
                                                        <p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10"
                                                            header="Conferma" key="conferma" closable="true"
                                                            [transitionOptions]="'0ms'"></p-confirmDialog>
                                                    </button>
                                                </span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="8" style="text-align:left">No employee found.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <p-footer>
                                    <button type="button" pButton icon="pi pi-check" (click)="displayMaximizable=false"
                                        (click)="confermaAlunni()" label="Confirm"></button>
                                    <button type="button" pButton icon="pi pi-times" (click)="displayMaximizable=false"
                                        label="No" class="ui-button-secondary"></button>
                                </p-footer>
                            </p-dialog>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th>

                                </th>
                                <th *ngFor="let item of options.colsOptions; let i = index"
                                    pSortableColumn="{{ item.name }}">
                                    {{ item.label
        }}<p-sortIcon field="{{ item.name }}" *ngIf="i != options.colsOptions.length - 1"></p-sortIcon>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let item of options.colsOptions; let i = index">
                                    <input pInputText type="text" placeholder="Filter For {{ item.label }}"
                                        class="ui-column-filter" *ngIf="
            i != options.colsOptions.length - 1 &&
            options.colsOptions[options.colsOptions.length - 1].name ==
              'operazioni'
          " (input)="dt.filter($event.target.value, item.name, 'contains')" />
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-alunniCorso>
                            <tr class="ui-selectable-row">
                                <td>
                                    <p-tableCheckbox [value]="alunniCorso"></p-tableCheckbox>
                                </td>
                                <td *ngFor="let item of options.colsOptions; let i = index">
                                    <span class="ui-column-title">{{ item.label }}</span>
                                    {{ alunniCorso[item.name] }}

                                    <span *ngIf="
            i == options.colsOptions.length - 1 &&
            options.colsOptions[options.colsOptions.length - 1].name ==
              'operazioni'
          ">
                                        <button class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"
                                                (click)="confirm1(alunniCorso.value.element.corsiUtentiId)"></i>
                                            <p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10"
                                                header="Confirm" key="conferma" closable="true"
                                                [transitionOptions]="'0ms'"></p-confirmDialog>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8" style="text-align:left">No employee found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div><br>
                    <button class="btn btn-info btn-block" (click)="confermaDocente()" type="button"
                        style="width: 25%; margin-left: 37.5%;">
                        <i class="fa fa-check mr-2" aria-hidden="true"></i>Confirm
                    </button><br></div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>