<div>
  <p-tabView>
    <p-tabPanel header="Course evaluations">
      <h3>{{ desc }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Criteria</th>
            <th scope="col">Insufficient</th>
            <th scope="col">Sufficient</th>
            <th scope="col">Good</th>
            <th scope="col">Very good</th>
            <th scope="col">Not applicable</th>
            <th scope="col">Average</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let param of corsoParam; index as i" [formGroup]="formGroupCorsi">
            <td>{{ param }}</td>
            <td><input type="number" value="{{ listaVotiCorso[i]?.insufficente }}" class="form-control"
                formControlName="insufficente" required /></td>
            <td><input type="number" value="{{ listaVotiCorso[i]?.sufficente }}" class="form-control"
                formControlName="sufficente" required /></td>
            <td><input type="number" value="{{ listaVotiCorso[i]?.buono }}" class="form-control" formControlName="buono"
                required /></td>
            <td><input type="number" value="{{ listaVotiCorso[i]?.moltoBuono }}" class="form-control"
                formControlName="moltoBuono" required /></td>
            <td><input type="number" value="{{ listaVotiCorso[i]?.nonApplicabile }}" class="form-control"
                formControlName="nonApplicabile" required /></td>
            <td><input type="number" value="{{ listaVotiCorso[i]?.media }}" class="form-control" formControlName="media"
                readonly /></td>
            <td>
              <button class="btn btn-success" (click)="creaVoto(param)" type="button">
                <i class="fa fa-check" aria-hidden="true"></i>save
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </p-tabPanel>

    <p-tabPanel header="Teacher evaluation">
      <h3>{{ nome }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Criteria</th>
            <th scope="col">Insufficient</th>
            <th scope="col">Sufficient</th>
            <th scope="col">Good</th>
            <th scope="col">Very good</th>
            <th scope="col">Not applicable</th>
            <th scope="col">Average</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let param of docenteParam; index as i" [formGroup]="formGroupDocente">
            <td>{{ param }}</td>
            <td><input type="number" value="{{ listaVotiDocente[i]?.insufficente }}" class="form-control"
                formControlName="insufficente" required /></td>
            <td><input type="number" value="{{ listaVotiDocente[i]?.sufficente }}" class="form-control"
                formControlName="sufficente" required /></td>
            <td><input type="number" value="{{ listaVotiDocente[i]?.buono }}" class="form-control"
                formControlName="buono" required /></td>
            <td><input type="number" value="{{ listaVotiDocente[i]?.moltoBuono }}" class="form-control"
                formControlName="moltoBuono" required /></td>
            <td><input type="number" value="{{ listaVotiDocente[i]?.nonApplicabile }}" class="form-control"
                formControlName="nonApplicabile" required /></td>
            <td><input type="number" value="{{ listaVotiDocente[i]?.media }}" class="form-control"
                formControlName="media" readonly /></td>
            <td>
              <button class="btn btn-success" (click)="creaVotoDocente(param)" type="button">
                <i class="fa fa-check" aria-hidden="true"></i>save
              </button>
            </td>
        </tbody>
      </table>
    </p-tabPanel>

    <p-tabPanel header="Employee evaluation">
      <h1>List of participating employees</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Employee</th>
            <th *ngFor="let param of dipendenteParam" scope="col">{{ param }}</th>
            <th scope="col">Average</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let valore of listaDipendenti; index as i" [formGroup]="formGroupDip">
            <td>{{ valore.dipendente.nome }} {{ valore.dipendente.cognome }}</td>
            <td><input type="number" class="form-control" formControlName="totalmenteInsufficente"
                value="{{ listaVotiDipendente[i]?.totalmenteInsufficente }}" required /></td>
            <td><input type="number" class="form-control" formControlName="insufficente"
                value="{{ listaVotiDipendente[i]?.insufficente }}" required /></td>
            <td><input type="number" class="form-control" formControlName="sufficente"
                value="{{ listaVotiDipendente[i]?.sufficente }}" required /></td>
            <td><input type="number" class="form-control" formControlName="discreto"
                value="{{ listaVotiDipendente[i]?.discreto }}" required /></td>
            <td><input type="number" class="form-control" formControlName="buono"
                value="{{ listaVotiDipendente[i]?.buono }}" required /></td>
            <td><input type="number" class="form-control" formControlName="media"
                value="{{ listaVotiDipendente[i]?.media }}" readonly /></td>
            <td>
              <button class="btn btn-success" (click)="creaVotoDipendente(valore.dipendente.dipendenteId)"
                type="button">
                <i class="fa fa-check" aria-hidden="true"></i>save
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </p-tabPanel>
  </p-tabView>
</div>