<div>
  <p-dropdown
    [options]="tipo2"
    [(ngModel)]="filtroSelezionato"
    placeholder="Filter by type"
    optionLabel="name"
    [showClear]="true"></p-dropdown>
  </div>
  <div class="pull-right mb-2">
   
      <button class="btn btn-warning" (click)="removeFilter()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  <form [formGroup]="formGroup" style="display: flex;">
  <!--     <input 
      style="border-radius:3px;
      border: 1px	#c0c0c0 solid ;
      padding: 6.006px ;
      display: inline;"
      type="text"
      formControlName="soggFiltrato"
      class="mt-2 mr-1"
      required
    />
    <button (click)="filtra()" class="btn btn-light" style="position: relative;">Filter</button>

    <button (click)="filtraAvanzato()" class="btn btn-light ">
      <i class="fa fa-gear"></i>
    </button>

    <button class="btn btn-warning mt-3" (click)="removeFilter()">
        <i class=" fa fa-trash"></i>
      </button> -->

      <div class="input-group mb-1 mt-1" style="width: 18%;">
        <input type="text" class="form-control"formControlName="soggFiltrato" style="border: 1px solid #cacaca;">
        <div class="input-group-append">
          <button (click)="filtra()"class="btn btn-dark" type="button" id="button-addon2" >
          <i class="fa fa-filter"></i>
          </button>
          <button (click)="filtraAvanzato()" class="btn btn-light ">
            <i class="fa fa-gear"></i>
          </button>
        </div>
      </div>
    
  </form>

<table class="table table-striped mt-3">

<thead class="thead-dark">

  <th scope="col">First Name</th>
  <th scope="col">Surname</th>
  <th scope="col">Registration Number</th>
  <th scope="col">Society</th>
  <th scope="col"></th>

</thead>
  <tr *ngFor="let valore of lista" style="width: 100%;">
   
   
    <td>{{ valore.nome }}</td>
    <td>{{ valore.cognome }}</td>
    <td>{{ valore.matricola }}</td>
    <td>{{ valore.societa?.ragioneSociale }}</td>
    <td> 
      <button
        pButton
        class="btn btn-info mr-2"
        type="button"
        (click)="show(valore)">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
    </tr>
</table>
<button type="button" class="btn btn-primary" (click)="dietro()">
  <i class="pi pi-backward"></i>
</button>
<font class="ml-2 mr-2" style="font-weight: bold;">{{ pagina }}</font>
<button type="button" class="btn btn-primary" (click)="avanti()">
  <i class="pi pi-forward"></i>
</button>

<p-sidebar
  [(visible)]="visibleSidebar5"
  position="right"
  [baseZIndex]="100000"
  [fullScreen]="true"
  [style]="{'overflow-y': 'scroll'}"
  
>
  <div>
      <div class="text-center">
          <h2>Employees details</h2>
      </div>
    <div class="row justify-content-center" >
    <table class="table table-striped mt-3 table-hover" style="width: 50%; ">
        <tbody >
          <tr>
            <td>Id:</td>
            <td> {{ utCorr?.dipendenteId }} </td>
          </tr>
          <tr>
            <td>Registration number:</td>
            <td>{{utCorr?.matricola }}</td>
          </tr>
          <tr>
            <td> Society:</td>
            <td>{{ utCorr?.societa?.ragioneSociale }}</td>
          </tr>
          <tr>
            <td>Surname:</td>
            <td>{{ utCorr?.cognome }}</td>
          </tr>
          <tr>
            <td> First name:</td>
            <td>{{ utCorr?.nome }}</td>
          </tr>
          <tr>
              <td> Gender:</td>
              <td>{{ utCorr?.sesso }}</td>
            </tr>
            <tr>
                <td>  Date of birth:</td>
                <td>{{ utCorr?.dataNascita }}</td>
              </tr>
              <tr>
                  <td>  Birth place:</td>
                  <td> {{ utCorr?.luogoDiNascita }}</td>
                </tr>
                <tr>
                    <td>  Marital status:</td>
                    <td>{{ utCorr?.statoCivile }}</td>
                  </tr>
                  <tr>
                      <td>  Educational qualification:</td>
                      <td>{{ utCorr?.titoloStudio }}</td>
                    </tr>
                    <tr>
                        <td> Achieved at:</td>
                        <td>{{ utCorr?.conseguitoPresso }}</td>
                      </tr>
                      <tr>
                          <td>  Year Graduated:</td>
                          <td>{{ utCorr?.annoConseguimento }}</td>
                        </tr>
                        <tr>
                            <td> Employee type: </td>
                            <td>{{ utCorr?.tipoDipendente }}</td>
                          </tr>
                          <tr>
                              <td> Qualification:</td>
                              <td> {{ utCorr?.qualifica }}</td>
                            </tr>
                            <tr>
                                <td> Level:</td>
                                <td>{{ utCorr?.livello }}</td>
                              </tr>
                              <tr>
                                  <td>  Assumption date:</td>
                                  <td>{{ utCorr?.dataAssunzione }}</td>
                                </tr>
                                <tr>
                                    <td> Area manager:</td>
                                    <td>{{ utCorr?.responsabileArea }}</td>
                                  </tr>
                                  <tr>
                                      <td>  Resource manager:</td>
                                      <td>{{ utCorr?.responsabileRisorsa }}</td>
                                    </tr>
                                    <tr>
                                        <td> End of relationship date:</td>
                                        <td>{{ utCorr?.dataFineRapporto }}</td>
                                      </tr>
                                      <tr>
                                          <td>  Contract Expiration date:</td>
                                          <td>{{ utCorr?.dataScadenzaContratto }}</td>
                                        </tr>
          </tbody>
    </table>
  </div>
    <div class="row justify-content-center">
    <table class="table table-light mt-3" style="width: 50%; ">
      <thead class="bg-info">
      <th scope="col">Description course</th>
      <th scope="col">Tipology</th>
      <th scope="col">Type</th>
    </thead>
      <tr *ngFor="let valore of listaAllCourses">
        <!--  <td>{{ valore.docenteId }}</td> -->
        <td>{{ valore?.descrizione }}</td>
        <td>{{ valore?.tipologia?.descrizione }}</td>
        <td>{{ valore?.tipo?.descrizione }}</td>
      </tr>
    </table>
  </div>
</div>
</p-sidebar>

<!-- <p-sidebar
  [(visible)]="visibleSidebartop"
  position="top"
  [baseZIndex]="100000"
  [style]="{ height: '100%' }"
>
  <div class="advanced-form">
    <form [formGroup]="formGroup2">
      employees Id:
      <input
        type="text"
        formControlName="dipendenteId"
        class="mt-2 mr-1"
        required
      /><br />
      freshman:
      <input
        type="text"
        formControlName="matricola"
        class="mt-2 mr-1"
        required
      /><br />
      surname:
      <input
        type="text"
        formControlName="cognome"
        class="mt-2 mr-1"
        required
      /><br />
      first name:
      <input
        type="text"
        formControlName="nome"
        class="mt-2 mr-1"
        required
      /><br />
      gender:
      <input
        type="text"
        formControlName="sesso"
        class="mt-2 mr-1"
        required
      /><br />
      date of birth:
      <input
        type="text"
        formControlName="dataNascita"
        class="mt-2 mr-1"
        required
      /><br />
      birth place:
      <input
        type="text"
        formControlName="luogoNascita"
        class="mt-2 mr-1"
        required
      /><br />
      marital status:
      <input
        type="text"
        formControlName="statoCivile"
        class="mt-2 mr-1"
        required
      /><br />
      educational qualification:
      <input
        type="text"
        formControlName="titoloStudio"
        class="mt-2 mr-1"
        required
      /><br />
      achieved at:
      <input
        type="text"
        formControlName="conseguitoPresso"
        class="mt-2 mr-1"
        required
      /><br />
      Year Graduated:
      <input
        type="text"
        formControlName="annoConseguimento"
        class="mt-2 mr-1"
        required
      /><br />
      Employee type:
      <input
        type="text"
        formControlName="tipoDipendente"
        class="mt-2 mr-1"
        required
      /><br />
      qualification:
      <input
        type="text"
        formControlName="qualifica"
        class="mt-2 mr-1"
        required
      /><br />
      level:
      <input
        type="text"
        formControlName="livello"
        class="mt-2 mr-1"
        required
      /><br />
      assumption date:
      <input
        type="text"
        formControlName="dataAssunzione"
        class="mt-2 mr-1"
        required
      /><br />
      Resource manager:
      <input
        type="text"
        formControlName="responsabileRisorsa"
        class="mt-2 mr-1"
        required
      /><br />
      Area manager:
      <input
        type="text"
        formControlName="responsabileArea"
        class="mt-2 mr-1"
        required
      /><br />
      End of relationship date:
      <input
        type="text"
        formControlName="dataFineRapporto"
        class="mt-2 mr-1"
        required
      /><br />
      Contract Expiration date:
      <input
        type="text"
        formControlName="dataScadenzaContratto"
        class="mt-2 mr-1"
        required
      /><br />
      <button (click)="filtraA()" class="btn btn-light">filter</button>
    </form>
  </div>
</p-sidebar>
 -->

 <p-sidebar [(visible)]="visibleSidebartop" position="top" [baseZIndex]="100000" [fullScreen]="true"
 [style]="{'overflow-y': 'scroll'}">
 <div class="row justify-content-center">
   <h2>Advanced Filter</h2>
 </div>

 <div class="advanced-form">
   <form [formGroup]="formGroup2">
     <div class="form-group">
       <input type="text" class="form-control" formControlName="dipendenteId" required placeholder="Employee id" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="matricola" required placeholder="Registration number" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="cognome" c required placeholder="Surname" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="nome" required placeholder="Name" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="sesso" required placeholder="Gender" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="dataNascita" required placeholder="Date of birth" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="luogoNascita" required placeholder="Place of birth" />
     </div>

     <div class="form-group">
       <input type="text" class="form-control" formControlName="statoCivile" required placeholder="Marital status" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="titoloStudio" required placeholder=" Educational qualification" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="conseguitoPresso" required
         placeholder="Achieved at" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="annoConseguimento" required placeholder=" Year Graduated" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="tipoDipendente" required
         placeholder="Employee type" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="qualifica" required placeholder="Qualification" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="livello" required placeholder="Level" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="dataAssunzione" required placeholder="Assumption date" />
     </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName="responsabileRisorsa" required placeholder="Resource manager" />
     </div>
     <div class="form-group">
        <input type="text" class="form-control" formControlName="responsabileArea" required placeholder="Area manager" />
      </div>
      <div class="form-group">
          <input type="text" class="form-control" formControlName="dataFineRapporto" required placeholder="End of relationship date" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="dataScadenzaContratto" required placeholder="Contract Expiration date" />
          </div>
     <div class="form-group">
       <button (click)="filtraA()" class="btn btn-info btn-lg btn-block">Filter</button>
     </div>
   </form>
 </div>
</p-sidebar>
