<div class="row" style="display:flex; margin-left: 18%; width: 130%;">
    <div class="col-sm-6">
        <div class="card">

            <form [formGroup]="formGroup" class="text-center border border-light p-5" action="#!">

                <p class="h2 mb-4">
                    <font size="6">New Course</font>
                </p>

                <div class="form-group ui-g-12 ui-md-12">
                    <label for="nome">
                        <font size="3">Description*</font>
                    </label>
                    <input type="text" class="form-control" placeholder="Description*" formControlName="descrizione"
                        required>
                </div>

                <div class="form-group ui-g-12 ui-md-6">
                    <label for="nome">
                        <font size="3">Type*</font>
                    </label><br>
                    <p-dropdown *ngIf=(listaTipi) [options]="descrizioneTipo" optionLabel="label" formControlName="tipo"
                        [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group ui-g-12 ui-md-6">
                    <label for="nome">
                        <font size="3">Typology*</font>
                    </label><br>
                    <p-dropdown *ngIf=(listaTipologie) [options]="descrizioneTipologia" optionLabel="label"
                        formControlName="tipologia" [style]="{'width':'100%'}"></p-dropdown>
                </div>

                <div class="form-group ui-g-12 ui-md-6">
                    <label for="nome" style="display: block; text-align: center;">
                        <font size="3">{{scritta2}}*</font>
                    </label>
                    <p-inputSwitch [(ngModel)]="erogatoControl" formControlName="erogato" required
                        (onChange)="metodoErogato()">
                    </p-inputSwitch>
                </div>
                
                
                <div class="form-group ui-g-12 ui-md-2">
                    <label for="nome">
                        <font size="3">Duration*</font>
                    </label>
                    <input type="text" class="form-control" placeholder="Duration*" formControlName="durata" required
                        style="width: 130%;">
                </div>
                <div class="form-group ui-g-12 ui-md-4">
                    <label for="nome">
                        <font size="3">Measure*</font>
                    </label><br>
                    <p-dropdown *ngIf=(listaMisure) [options]="descrizioneMis" optionLabel="label"
                        formControlName="misura"></p-dropdown>
                </div>
                <div class="form-group ui-g-12 ui-md-6">
                    <label for="nome">
                        <font size="3">Edition*</font>
                    </label>
                    <input type="text" class="form-control" placeholder="Edition*" formControlName="edizione" required>
                </div>
                <div class="form-group ui-g-12 ui-md-6">
                    <label for="nome">
                        <font size="3">Place</font>
                    </label>
                    <input type="text" class="form-control" placeholder="Place" formControlName="luogo" required>
                </div>
                  <!-- <div class="form-group ui-g-12 ui-md-6" style="margin-top: -100%;">
                    //serve
                </div> -->
                <div class="form-group ui-g-12 ui-md-4">
                    <label for="nome">
                        <font size="3">Delivery date</font>
                    </label><br>
                    <p-calendar formControlName="dataErogazione" required dateFormat="dd/mm/yy" showButtonBar="true"
                        placeholder="Select Date" [showIcon]="true"></p-calendar>
                </div>
                <div class="form-group ui-g-12 ui-md-4">
                    <label for="nome">
                        <font size="3">Closing date</font>
                    </label><br>
                    <p-calendar formControlName="dataChiusura" required dateFormat="dd/mm/yy" showButtonBar="true"
                        placeholder="Select Date" [showIcon]="true"></p-calendar>
                </div>
                <div class="form-group ui-g-12 ui-md-4">
                    <label for="nome">
                        <font size="3">Census date</font>
                    </label><br>
                    <p-calendar formControlName="dataCensimento" required dateFormat="dd/mm/yy" showButtonBar="true"
                        placeholder="Select Date" [showIcon]="true"></p-calendar>
                </div>
                
                <div class="form-group ui-g-12 ui-md-6">
                    <label for="nome" style="display: block; text-align: center;">
                        <font size="3">{{scritta1}}</font>
                    </label>
                    <p-inputSwitch [(ngModel)]="internoControl1" formControlName="interno" required
                        (onChange)="metodoInterno()">
                    </p-inputSwitch>
                </div>
                <div class="form-group ui-g-12 ui-md-6">
                    <label for="nome">
                        <font size="3">Entity</font>
                    </label>
                    <input type="text" class="form-control" placeholder="Entity" formControlName="ente" required>
                </div>
                <div class="form-group ui-g-12 ui-md-12" style="width: 100%;">
                    <label for="nome">
                        <font size="3">Notes</font>
                    </label>
                    <textarea rows="5" cols="30" pInputTextarea class="form-control" placeholder="Add notes..."
                        formControlName="note" required></textarea>
                </div>
            </form>
            <!-- Default form contact -->

            <div><br>
                <button class="btn btn-info btn-block" (click)="conferma()" type="button"
                    style="width: 25%; margin-left: 37.5%;">
                    <i class="fa fa-check mr-2" aria-hidden="true"></i>Next
                </button><br></div>
        </div>
    </div>
</div>
